body{
  background-color:#385170;
}
.topnav{
  background-color:#142d4c;
  overflow: hidden;
}
.topnav a{
  float: left;
  display: block;
  color: #ececec;
  text-align: center;
  padding:14px;
  text-decoration:none;
  font-size: 15px;
  border-radius:10%;
}
.topnav a:hover{
  background-color:antiquewhite;
  color:#9fd3c7;
  transition: .9s;
}
.topnav a.active{
  background-color: #9fd3c7;
  color:#ececec;
}
.container-1{
  display:flex;
  padding: 10px;
  border: #ececec solid 5px;
  background-color: #142d4c;
  opacity: .9;
  font-family: 'Courier New', Courier, monospace;
}
.container-1 div{
  display: flex;
  border: #385170 1px solid;
  align-items: center;
}
.box-1{
flex:3;
}
.box-2{
  flex:1;
  justify-content: right;
}
