body{
  background-color:#385170;

}

/* .first-color (words and border{ 
	background: #ececec; 
}
	
.second-color (container background or padding { 
	background: #9fd3c7; 
}

.third-color (background of body { 
	background: #385170; 
}

.fourth-color (background of header){ 
	background: #142d4c; */